.navbar {
    height: 50px;
    background-color: #222831;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 70px 0px 70px;
}

.navbar a {
    color: white;
}

.navbarLinks {
    text-decoration: none;
    padding: 0px 15px;
}

.myName {
    color: white;
    padding: 0px 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}